html{
    background-color: blueviolet;
}
body {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    font-family: Gill Sans, sans-serif;
    font-size: 1.2em;
    color: #404040;
    background-color: rgb(218, 205, 217);
    padding: 30px;
    padding-top: 0px;
  }
  label{
    width: 500px;
  }